/*
 * Copyright (c) 2024 Golioth, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	zephyr,user {
		rs485-8-click-en-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
	};
};

&i2c2 {
    /* Needed for I2C writes used by libostentus */
    zephyr,concat-buf-size = <48>;

    ostentus@12 {
        status = "okay";
        compatible = "golioth,ostentus";
        reg = <0x12>;
    };
};

/* On this board, mikrobus_spi == spi2 & mikrobus_serial == uart2, and a
 * limitation of the nRF9160 is that both can't be enabled simultaneously.
 * On this board, mikrobus_spi is enabled by default and mikrobus_serial is
 * disabled by default, so we need the following to enable mikrobus_serial:
 */
&mikrobus_spi {
	status = "disabled";
};

&mikrobus_serial {
	status = "okay";

	modbus0 {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};
};
